on:
  push:
    branches: master
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew build --no-daemon
      - uses: actions/upload-artifact@v5
        if: always()
        with:
          name: Gradle reports
          path: app/build/reports
      - uses: actions/upload-artifact@v5
        if: github.event_name == 'push'
        with:
          name: Executables
          path: app/build/distributions
